/* استایل‌های کلی */
.mega-menu_wrapper {
  position: absolute;
  top: 100%;

  left: 0;
  width: 100%;
  z-index: 1000,
}

.mega-menu__container {
  position: relative;
  direction: rtl;
  font-family: "Vazir", sans-serif;
}

/* لیست دسته‌بندی‌ها */
.categories-list {
  width: 250px;
  height: 400px;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-left: 1px solid #e0e0e0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.categories-list::-webkit-scrollbar {
  width: 8px;
}

.categories-list::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 4px;
}

.categories-list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.category-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.category-item:hover,
.category-item.active {

  background-color: #ffffff;
  color: #fa256c;
}

.category-icon {
  margin-left: 10px;
  min-width: 40px;
}

.category-name {
  padding: 16px 10px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
  color: inherit;
}

/* محتوای زیرمنو */
.mega-menu__content {
  width: 600px;
  height: 500px;
  max-height: 100vh;
  overflow-y: auto;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;

  position: absolute !important;
  right: 250px;
  top: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 11;
}

.mega-menu__content::-webkit-scrollbar {
  width: 8px;
}

.mega-menu__content::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 4px;
}

.mega-menu__content::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.content-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

.content-section {
  margin-bottom: 8px;
}

.section-title {
  font-size: 16px;
  font-weight: 500;
  color: #fa256c;
  margin-bottom: 8px;
  padding-right: 10px;
}

/* .section-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  border: 1px solid red;
  } */

.section-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-item {
  padding: 4px 0;
  color: #666;
  font-size: 14px;
}

.section-item:hover a {
  color: #1976d2;
}

.section-item a {
  text-decoration: none;
  color: inherit;
}

.categories-list {
  height: 500px;
  max-width: 100vh;
}

/* مخفی کردن مگامنو وقتی هوور نیست */
.mega-menu__container:not(.visible) .categories-list,
.mega-menu__container:not(.visible) .mega-menu__content {
  display: none;
}