.edit-address-card {
  max-width: 600px;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  direction: rtl;     
  text-align: right;  
  font-family: "Vazir", sans-serif;
}

.edit-address-title {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.edit-address-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.edit-address-row-two-columns {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.edit-address-row-half {
  width: 100%;
}

@media (min-width: 600px) {
  .edit-address-row-half {
    width: 48%;
  }
}

.edit-address-actions {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  padding: 12px 0 0 0;
}


.edit-address-card .MuiInputBase-input {
  text-align: right;
  direction: rtl;
}

.edit-address-card .MuiInputLabel-root {
  text-align: right;
  left: auto !important;
  right: 0 !important;
}

.edit-address-card .MuiOutlinedInput-root legend {
  float: right;
  text-align: right;
}

.edit-address-card .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}
.edit-address-select .MuiSelect-select {
    text-align: right;     
    padding-right: 15px;    
    direction: rtl;        
}

.edit-address-select .MuiInputLabel-root {
    text-align: right;
    left: auto !important;
    right: 0 !important;
}

.edit-address-select .MuiOutlinedInput-root legend {
    float: right;
    text-align: right;
}
.submit-changes-button {
    padding: 10px !important;
}
.cancel-changes-button {
    padding: 10px  !important;
    border: 1px solid rgba(255, 0, 0, 0.362);
}