.brand-carousel-image {
    width:65px;
    height: 65px;
    filter: grayscale(100%);
    transition: all ease 250ms;
}
.brand-carousel-image:hover {
 
    filter: grayscale(0);
    transition: all ease 250ms;
}

