.header-basket-list {
    max-height: 300px; 
    overflow-y: auto !important;
    padding: 0; 
    margin: 0; 
  }
  

  .header-basket-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .header-basket-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  .header-basket-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .header-basket-list-item-props{
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    padding: 10px !important;
    gap: 10px;
  }