/* ===== 3️⃣ هر کامنت تکی ===== */
.comment-card {
    max-width: 350px;
    min-width: 350px;
    height: fit-content;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    transition: box-shadow 0.3s ease;
    background: #fff;
}

.cart-content {
    width: 100%;
    height: 100%;
}
.cart-content img {
    width: 60px;
    height: 60px;
}
.comment-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* --- هدر کارت --- */
.comment-card .MuiCardHeader-root {
    padding: 0.75rem 1rem;
}

.comment-card .MuiCardHeader-title {
    font-weight: 700;
    font-size: 1rem;
}

/* --- جداکننده --- */
.comment-card .MuiDivider-root {
    margin: 0 1rem;
}

/* --- محتوای کارت --- */
.comment-card .MuiCardContent-root {
    padding: 1rem;
}

/* --- تصویر محصول --- */
.comment-card .comment-card__image {
    width: 100px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: block;
}

/* --- متن کامنت --- */
.comment-card .comment-card__text {
    font-size: 0.95rem;
    line-height: 1.6;
    white-space: pre-line;
    color: #343434;
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 0.5rem;
}